@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  background-color: #69B64E;
  color: #006E13;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  gap: 20px; }
  header a img {
    height: 200px; }
  header nav .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    list-style: none; }
    header nav .navBar li {
      flex-grow: 1;
      text-align: center; }
      header nav .navBar li a {
        display: block;
        text-decoration: none;
        font-weight: 600;
        font-size: larger;
        padding: 20px 10px;
        background-color: #F0E20F;
        color: #006E13;
        border-radius: 60%;
        width: 145px;
        height: 25px;
        box-sizing: initial;
        justify-content: center; }
        header nav .navBar li a:hover {
          color: #F0E20F;
          background-color: #006E13; }

.main-index-h1 .sectionH1 {
  background-color: #006E13;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal; }

.main-index-h1 .sectionInformacionClub {
  background-color: #006E13;
  color: #EDFFEF;
  font-weight: 600;
  width: 50%;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 26px; }

.main-index-h1 .sectionContacto {
  background-color: #69B64E;
  color: #EDFFEF;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 26px;
  width: 50%; }

.main-actividades-h1 .sectionH1 {
  background-color: #006E13;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal; }

.main-actividades-h1 .actividadesTextTitle {
  color: #EDFFEF;
  font-weight: bold;
  font-size: large;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline; }

.main-nuestra-historia-h1 .sectionH1 {
  background-color: #006E13;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal; }

.main-nuestra-historia-h1 .nuestraHistoria {
  text-align: center;
  text-transform: initial;
  background-color: #32713D;
  color: #EDFFEF;
  font-size: medium;
  font-weight: 300; }

.main-nuestra-historia-h1 .nuestraHistoria img {
  height: 300px;
  object-fit: cover; }

.main-planes-sociales-h1 .sectionH1 {
  background-color: #006E13;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal; }

.main-planes-sociales-h1 .planesSociales {
  background-color: #B5ECA1;
  color: #006E13;
  text-transform: initial;
  text-align: center; }

.main-planes-sociales-h1 .pSH2 {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  text-decoration: underline; }

.main-tienda-h1 {
  background-color: #EDFFEF; }
  .main-tienda-h1 .sectionH1 {
    background-color: #006E13;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal; }
  .main-tienda-h1 .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; }
  .main-tienda-h1 .container-store {
    width: 200px;
    height: 250px;
    text-align: center;
    border: 1px solid #006E13; }
  .main-tienda-h1 .container-store div {
    width: 100%;
    height: 60%; }
  .main-tienda-h1 .container-store div img {
    width: 100%;
    height: 100%; }
  .main-tienda-h1 .tiendaPriceTag {
    background-color: #006E13;
    color: #EDFFEF; }

footer .footer {
  background-color: #69B64E;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  padding: 20px; }
  footer .footer .logo-redes img {
    height: 80px; }

.cards {
  width: 250px;
  height: 300px;
  background-color: #EDFFEF;
  border-radius: 5px; }
  .cards div:first-child {
    width: 100%;
    height: 50%; }
    .cards div:first-child img {
      width: 100%;
      height: 100%;
      object-fit: contain; }

@media (max-width: 1024px) {
  .mainInfoContacto {
    flex-direction: column;
    justify-content: center; }
  .sectionContacto {
    width: 100%;
    align-content: center;
    justify-content: center; }
  .sectionInformacionClub {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }
  .pSH2 {
    width: 100%;
    font-weight: 600; } }

@media (max-width: 768px) {
  header {
    flex-direction: column; }
  .sectionInformacionClub {
    width: 100%;
    font-size: medium;
    padding-left: 30px; }
  .sectionContacto {
    width: 100%;
    font-size: medium;
    padding-left: 30px; }
  header a img {
    height: 150px; }
  .navBar li a {
    width: 125px;
    height: 20px;
    font-size: medium; }
  .navBar {
    flex-wrap: wrap; }
  .logo-redes img {
    height: 60px; }
  .nuestraHistoria {
    flex-direction: column; }
  .pSH2 {
    width: 100%;
    font-weight: 400; } }

@media (max-width: 320px) {
  header a img {
    height: 125px; }
  .navBar li a {
    width: 100px;
    height: 15px;
    font-size: small; }
  .sectionContacto {
    width: 100%;
    font-size: small;
    padding-left: 20px; }
  .logo-redes img {
    height: 45px; }
  main .sectionH1 {
    font-weight: 300; }
  .nuestraHistoria img {
    height: 200px; }
  .nuestraHistoria {
    flex-direction: column; }
  .pSH2 {
    width: 100%;
    font-weight: 400; } }
