@media (max-width: 1024px){
    .mainInfoContacto{
        flex-direction: column;
        justify-content: center;
        }
    .sectionContacto{
        width: 100%;
        align-content: center;
        justify-content: center;
    }
    .sectionInformacionClub{
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .pSH2{
        width: 100%;
        font-weight: 600;
    }
    }