.main-planes-sociales-h1{
    .sectionH1{
        background-color: #006E13;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-style: normal;
    }
    .planesSociales {  
        background-color: #B5ECA1;
        color: #006E13;
        text-transform: initial;
        text-align: center;
    }
    .pSH2 { 
        text-transform: capitalize;
        font-family: "Poppins", sans-serif;
        text-decoration: underline;
    }
}
