.main-tienda-h1{
    background-color: #EDFFEF;
    .sectionH1{
        background-color: #006E13;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-style: normal;
    }
    .products-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
        
    .tiendaPriceTag {
        background-color: #006E13;
        color: #EDFFEF;
    
    }
}