.main-index{
    .sectionH1{
        background-color: #006E13;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-style: normal;
    }
}