.main-actividades-h1{
    .sectionH1{
        background-color: #006E13;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-style: normal;
    }
    .actividadesTextTitle {
        color: #EDFFEF;
        font-weight: bold;
        font-size: large;
        text-align: center;
        text-transform: capitalize;
        text-decoration: underline;
    }
}
