.main-nuestra-historia-h1{
    .sectionH1{
        background-color: #006E13;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-style: normal;
    }
    .nuestraHistoria {  
        text-align: center;
        text-transform: initial;
        background-color: #32713D ;
        color: #EDFFEF;
        font-size: medium;
        font-weight: 300;
    }
    .nuestraHistoria img{
        height: 300px;
        object-fit: cover;
    }
}
